*{
    box-sizing: border-box;
    padding: 0px;  
}
.navbar .div1{
    width: 15%; 
    color: lightskyblue;
    padding: 20px 75px;
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-style: normal;
}
.navbar .menu {
   width: 85%; 
   padding: 5px 5px;
   text-transform: uppercase;
   float: right;
}
.navbar ul {
   padding: 30px 30px 30px 300px;  
}
.navbar li {
   display: inline;
   padding: 10px 32px;
}
.navbar p{
    color:red;
}
.navbar span{
    color:blue;
 }
 .menu{
     margin: auto;
 }
 .navbar li a{
     text-decoration: none;   
 }
 .navbar li a:hover {
     background-color:rgb(186, 209, 35);
     color: white;
     padding: 10px 25px;
 }
  .navbar .div2 { 
     width: 650px; 
     float: left;  
     padding: 68px 75px; 
     font-size: 20px;
     line-height: 35px;
 }
.navbar{
    height: 550px; 
    margin: 10px 10px 10px;
    padding: 10px 10px;     
    background-color: white;
}
/* navbar styles finished*/
.div2 h2,p{
    font-weight: 400;
    font-size: large;
    font-style: normal;
} 
.div2  .but{
    margin-top: 15px;
    margin-bottom: 45px;
    padding: 10px 30px;
    border-radius: 5px;
    color: blue;
    background-color: rgb(214, 81, 20);
}
.div3{
   width: 825px;  
   float: right;   
   padding-left: 45px;
   padding-top: 1px;
   margin: auto;
} 
.div3 > img{
    margin: auto;
}
#back{
    margin: 1px 10px 0px 10px;
    border:  solid white;
    padding: 15px 150px;    
}
.read{
    color: white;
    height: 500px;
    float: left;
    background-color: black;
}
.read1{
    color: #90979f;
    float: left;
    width: 32%; 
    margin:auto; 
    text-align: center;
    padding: 5px 5px 5px 5px;
}
.read h1{
    padding-bottom: 35px;
}
.read p{
    color: #90979f;
    text-align: right;
    text-align: justify;
    padding-bottom: 10px;
    padding-left: 30px;
}
.read .img {
    padding-right: 25px;
}
.read .but{    
    margin: 10px 20px 35px 75px;
    padding: 10px 10px;
    border-radius: 2px;
    text-align: center;
    color: blue;
    background-color: orangered;
}
/*read styles is finished*/
.id{
    clear:both ;
}
.div5 .but{
    padding: 7px;
    border-radius: 5px;
    color: blue;
    background-color: rgb(255, 123, 47);
}
.bottom {
    margin: 1px 10px  10px;
    border:  solid white;
    padding: 15px 150px; 
    background-color:black;
    color: white;
} 
.div4 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.div4 {
    width: 60%;
    padding: 15px;  
    margin-bottom: 15px;
    color: #1268c9;
}
.div5 h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.div5 img{
    width: 600px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bottom1{
    width: 345px;
    float: left;
}
.bottom1 .bottom2{
    width: 30%;
    height: 420px;
    float: left;
}
.bottom2 h2,h4{
    margin-top: 10px;
    margin-bottom: 15px;
}
.bottom2 p{
    margin-top: 10px;
    margin-bottom: 15px;
}
.bottom1{
    margin-top: 25px;     
    line-height: 15px;
    font-size: 25px;
}
.div6 h2{
    color: #90979f;
    margin-top: 15px;
    margin-bottom: 25px;
    padding:  10px  10px;
} 
.div6 h4{
    color: #90979f; 
}
.div6 p{
    color: #90979f;
    padding-left: 10px;
}
.bottom2{
    color: #90979f;
    float: left;
    width: 30%;
    margin-top: 35px;
    font-size: medium;
    padding-left: 25px;
    padding:  10px 10px;
}
.div6{
    line-height: 40px;
    padding: 30px;
    margin-top: 10px;
}
.div6 .but{
    margin: 15px 0px 35px 5px;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    background-color: #2b8fc4;
}
.div7{
    line-height: 50px;
    padding: 30px;
}
.div8{
    float: left;
    padding-left: 35px;
    padding-right: 30px;
    margin-left: 30px;
}
.div9{
    float: left;
    padding-right: 35px;
    padding-right: 30px;
    margin-left: 30px;
    clear: right;
}
/*go to top */
.top{
    padding:0px;
    float: left;
    margin-left: 35px;
    width: 40%;
}
#do{
    clear: both;
}
.bottom3 > h1 {
    text-align: justify;
    color: blue;
}
.card{
    text-indent: 18px;
}
.top  .but {
    color: rgb(35, 49, 194);
    background-color: rgb(188, 208, 10);
    padding: 6px;
    border-radius: 5px;
}
.bottom3{
    float: left;
}
.bottom{
    float: left;
}
