*{
    box-sizing: border-box;
    margin: 0;
    font-variant: small-caps;
    -webkit-tap-highlight-color:transparent;
}
img{
    max-width: 100%;
}
.div1{
    background-color: blue;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.div0{
    width:  25%;
    height: 100vh;
    background-color: black;
    position: fixed;
    color: white;
}
.div0 img{
    margin: 12px;
    background-position: center;
    width: 82%;
    border: 1px solid white;
    margin-top: 45px;
}
.div0 div{
    text-align: center;
    padding: 9px;
}
.home{
    border: 1px dotted white;
    border-left: 5px solid red;
}
.about{
    border: 1px dotted white;
    border-left: 5px solid salmon;
}
.contact{
    border: 1px dotted white;
    border-left: 5px solid blue;
}
.port{
    border: 1px dotted white;
    border-left: 5px solid lime;
}
.service-1{
    border: 1px dotted white;
    border-left: 5px solid orangered;
}
a{
    text-decoration: none;
    color: white;
}
/*left side part is over*/
.div2{
    background-image: url('./html_imagesfile.html/Natural.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    width: 75%;
    height: 600px;
    margin-left: 25%;
}
.div2{
    padding: 20px;
}
.div2 h1{
    margin-top: 20%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 45px;
}
.div2 h4{
    color: rgb(221, 167, 147);
    font-size: 18px;
    text-align: center;
}
.but{
    margin-left: 36%;
    margin-top: 5%;
    width: 150px;
    color: white;
    font-weight: bold;
    background-color: rgba(77, 72, 221, 0.68);
}
.section{
    margin-left: 40%;
    margin-top: 25px;
}
.div3 {
    position: relative;
    width: 73%;
    margin-left: 27%;
}
.col3 h3{
    color: rgb(37, 18, 182);
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}
.col3 p{
    color:rgb(27, 25, 27) ;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}
.div4{
    margin-top: 5%;
    margin-left: 30%;
    border-top: 5px solid orange;
    width: 65%;
}
 .butt{
    padding: 5px;
    background-color: orange;
    border:2px solid orange;
    color: white;
}
.div5{
    margin-top: 3%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: 33% 33% auto;
}
.div5 h1{
    color: orange;
    text-align: center;
    padding: 10px;
}
.div5 h3{
    color: rgb(231, 81, 36);
    text-align: center;
    font-size: 20px;
}
.art1,.art2,.art3{
    padding: 10px;
    margin: auto;
}
.div6{
    margin-top: 3%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: 70% 25%;
}
.div6 img{
    margin-top: 07%;
    width: 100%;   
}
.para3 h1{
   color: tomato;
   font-size: 20px;
}
.div7{
    margin-top: 5%;
    margin-left: 28%;
    border-top: 5px solid purple;
    width: 65%;
 }
 .div7 .butt1{
    padding: 15px;
    background-color: purple;
    border:2px solid purple;
    color: white;
 }
 .service{
     width: 72%;
     margin-left: 28%;
     margin-top: 5%;
     display: grid;
     grid-template-columns: 33.33333333% 33.33333333% auto;    
 }
 .box1{
    border-right: 2px solid wheat;
    font-size: x-large;
    padding: 12px;
    width: 90%;
    color: white;
    background-color: purple;
}
.div08{
    margin-top: 3%;
    margin-left: 27%;
    display: grid;
    grid-template-columns: 65% 30%;
}
.div08 h3{
    background-color: purple;
    color: white;
    text-align: center;
    padding: 8px;
}
.div8{
    margin-left: 0%;
    margin-top: 2%;
}
.div8 h3{
    color: white;
    font-weight: lighter;
    font-size: 25px;
}
/*div8 is close then div9  open*/
.div9{
    margin-left: 5%;
    margin-top: 5%;
}
.div9 .subdiv1,.div9 .subdiv2,.div9 .subdiv3,.div9 .subdiv4{
    padding: 7px;
    text-align: left;
}

.subdiv1,.subdiv2 ,.subdiv3,.subdiv4{
    padding: 10px;
    color: white;
    background-color:purple;
    position: relative;
    z-index: 1;
}
.subdiv1{
    width: 95%;
}
.subdiv2{
    width: 75%;
}
.subdiv3{
    width: 66%;
}
.subdiv4{
    width: 88%;
}
.subdiv1::before{
    transition: 2s all ease-out;
    top: 0;
    left: 90%;
    right: 0%;
    bottom: 0;
    position: absolute;
    background-color:white;
}
.subdiv1:hover::before{
    transition: 2s all ease ;
    left: 90%;
    right: 0;
    z-index: -1;
    opacity: 1;
}
.subdiv2::before{
    transition: 2s all ease-out;
    top: 0;
    left: 73%;
    right: 0%;
    bottom: 0;
    position: absolute;
    background-color:white;
}
.subdiv2:hover::before{
    transition: 2s all ease ;
    left: 73%;
    right: 0;
    z-index: -1;
    opacity: 1;
}
.subdiv3::before{
    transition: 2s all ease-out;
    top: 0;
    left: 66%;
    right: 0%;
    bottom: 0;
    position: absolute;
    background-color:white;
}
.subdiv3:hover::before{
    transition: 2s all ease ;
    left: 66%;
    right: 0;
    z-index: -1;
    opacity: 1;
}
.subdiv4::before{
    transition: 2s all ease-out;
    top: 0;
    left: 88%;
    right: 0%;
    bottom: 0;
    position: absolute;
    background-color:white;
}
.subdiv4:hover::before{
    transition: 2s all ease ;
    left: 88%;
    right: 0;
    z-index: -1;
    opacity: 1;
}
/*div9 over*/
.div10{
    margin-top: 5%;
    margin-left: 28%;
    border-top: 5px solid rgb(44, 220, 35);
    width: 65%;
}
.butt2{
    padding: 15px;
    background-color: rgb(76, 223, 27);
    border:2px solid rgb(52, 223, 18);
    color: white;
}
.div09{
    display: grid;
    width: 70%;
    margin-top: 5%;
    margin-left: 26%;
    grid-template-columns: 33.33333333% 33.33333333% auto ; 
}
.div09 p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(50, 189, 11);
}
.div09  button{
    margin-left: 25%;
    width:50%;
    padding: 4%;
    background-color: rgb(21, 206, 73);
    color: white;
    font-weight: bolder;
}
.form,.form1{
    padding: 15px;
    font-size: larger;
    font-weight: 500;
    margin-left: 28%;
    text-align: center;
}
.form2 .butt5{
    background-color: deeppink;
    color: white;
    text-align: center;
    margin-left: 28%;
    padding: 15px;
    font-size: 25px;
}
.para9{
    padding:10px;
}
/*.div11{
    margin-top: 5%;
    margin-left: 28%;
    width: 75%;
}
.butt4{
    padding: 15px;
    background-color: rgb(223, 27, 109);
    border:2px solid rgb(223, 18, 110);
    color: white;
}
.subpart2 > h2,.subpart2 > h3,.subpart2 > p{
    padding: 8px;
    opacity: 1.5;
    font-weight: 600;
    margin-left: 28%;
    text-align: center;
}
.div12{
    background-image: url('./html_imagesfile.html/googlemap.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    width: 75%;
    opacity: 1.5;
    margin-top: 5%;
    margin-left: 25%;
    height: 450px; 
}*/
.footer{
    width: 75%;
    margin-left: 25%;
    background-color: #787171 ;
}
.footer ul{
    list-style: none;
    text-align: center;
    width: 100%;
    margin:0 ;
    padding:0px ;
}
.footer ul li{
    display: inline-block;
    padding: 20px;
    size: 10px;
}
.fa-google{
    color: white;
    text-shadow: tomato; 
}
.fa-twitter-square{
    color: blue;
    text-shadow: cornsilk;
}
.fa-facebook-square{
    color: blue;
    text-shadow: cornsilk;
}
.fa-youtube{
    color: red;
    text-shadow: salmon;
}
.fa-linkedin{
    color: blue;
    text-shadow: chartreuse;
}
.last{
    color: white;
    text-align: center;
    font-weight: bolder;
}
